<!-- 新規投稿フォーム -->
<h3>New book</h3>
<%= form_with(model: @book, local: true) do |f| %>
  <div class="form-input">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-input">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
    <div><%= f.submit 'Create Book' %></div>
<% end %>
